/* APPLIED TO ALL PAGES */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main-nav-bar {
  overflow: hidden;
  background-color: var(--color-main-background);
}

/* #logo {
  float: left;
  max-width: 100%;
  height: 40px;
} */

.main-nav-bar a {
  float: left;
  display: block;
  color: var(--color-main-support);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.main-nav-bar a:hover {
  background-color: var(--color-sub-background);
  color: var(--color-main-support);
}

.main-nav-bar .search-bar {
  float: right;
}

.main-nav-bar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.main-nav-bar .search-bar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--color-sub-background);
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.main-nav-bar .search-bar button:hover {
  background: var(--color-main-support);
}

.movie-slideshow-img {
  width: 300px;
  /* max-width: 100%; */
  height: 300px;
}

/* HOME PAGE */
/* MOVIES OUT NOW PAGE */
/* MOVIES OUT NOW ITEM TEMPLATE */
/* MOVIE LIBRARY */
/* MOVIE LIBRARY ITEM TEMPLATE */
/* THEATERS */
/* THEATERS ITEM TEMPLATE */
/* MUSIC LIBRARY */
/* MUSIC LIBRARY ITEM TEMPLATE */
/* ARTIFACT LIBRARY */
/* FAMOUS FILM LOCATION */
