/* APPLIED TO ALL PAGES */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.main-nav-bar {
  overflow: hidden;
  background-color: var(--color-main-background);
}

#logo {
  float: left;
  display: inline;
  width: auto;
  height: 48px;
}

.main-nav-bar a {
  display: block;
  float: left;
  color: var(--color-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

.main-nav-bar a:hover {
  background-color: var(--color-sub-background);
  color: var(--color-white);
}

.main-nav-bar .search-bar {
  float: right;
}

.main-nav-bar input[type="text"] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.main-nav-bar .search-bar button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: var(--color-sub-background);
  font-size: 17px;
  border: none;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.main-nav-bar .search-bar button:hover {
  background: var(--color-white);
}

.popular-movies-out-now {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 33vw;
}

.background-slide {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  animation: popular-movies-out-now fade 20s infinite;
}

.background-slide img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

@keyframes popular-movies-out-now {
  0%   { transform: translateX(0); }
  33%  { transform: translateX(0); }
  40%  { transform: translateX(-100vw); }
  73%  { transform: translateX(-100vw); }
  80%  { transform: translateX(-200vw); }
  100% { transform: translateX(-200vw); }
}

/* HOME PAGE */
/* MOVIES OUT NOW PAGE */
/* MOVIES OUT NOW ITEM TEMPLATE */
/* MOVIE LIBRARY */
/* MOVIE LIBRARY ITEM TEMPLATE */
/* THEATERS */
/* THEATERS ITEM TEMPLATE */
/* MUSIC LIBRARY */
/* MUSIC LIBRARY ITEM TEMPLATE */
/* ARTIFACT LIBRARY */
/* FAMOUS FILM LOCATION */
