/* APPLIED TO ALL PAGES */
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--margin-zero);
  padding: 0;
  background-color: var(--color-main-background);
}

.main-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 20px;
  height: 70px;
  overflow: hidden;
  background-color: var(--color-main-background);
}

#logo {
  width: 100%;
  max-width: 70px;
  height: 70px;
  object-fit: cover;
}

#login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  padding: 0 20px;
  height: 70px;
  overflow: hidden;
}

#profile-icon {
  width: 100%;
  max-width: 40px;
  height: 40px;
  object-fit: cover;
}

.main-nav-bar a {
  display: flex;
  align-items: center;
  padding: 0 10px;
  line-height: 70px;
  color: var(--color-main-support);
  text-align: center;
  text-decoration: none;
  font-size: var(--p-font-size);
  height: 100%;
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
}

.main-nav-bar a:hover {
  text-decoration: underline;
}

.sub-nav-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.sub-nav-container .theme-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.sub-nav-container .search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sub-nav-container input[type="text"] {
  padding: 8px 10px;
  font-size: var(--p-font-size);
  border: 1px solid var(--color-sub-support);
  border-radius: var(--border-sub-radius-content);
}

.sub-nav-container .search-bar button {
  padding: 8px 10px;
  background-color: var(--color-sub-background);
  color: var(--color-button-text);
  font-size: 17px;
  border: 1px solid var(--color-sub-support);
  border-radius: 4px;
  cursor: pointer;
}

.sub-nav-container .search-bar button:hover {
  background-color: var(--color-button-text);
  color: var(--color-sub-background);
  border-radius: 4px;
}

.toggle-switch {
  display: inline-block;
  width: 60px;
  height: 34px;
  position: relative;
}

.toggle-switch input {
  display: none;
}

.toggle-switch-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border: 1px solid var(--color-sub-support);
}

.toggle-switch-slider::before {
  background-color: var(--color-main-support);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .toggle-switch-slider::before {
  transform: translateX(26px);
}

.toggle-switch-slider.round {
  border-radius: 34px;
}

.toggle-switch-slider.round::before {
  border-radius: 50%;
}

#toggle-switch-label {
  margin-left: 16px;
  color: var(--color-main-support);
  font-size: var(--p-font-size);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--h3-font-type);
  user-select: none;
}

.featured-movies-slideshow {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.background-slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 1.5s ease-in-out;
}

.background-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--color-main-background);
}

.footer p {
  color: var(--color-main-support);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
}

/* LOGIN */
.page {
  display: flex;
  justify-content: center;
  align-items: center;      
  min-height: 100vh;        
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.login-card {
  padding: 3rem 2.5rem;
  width: 100%;
  max-width: 420px;
  height: auto;
  background-color: var(--color-main-support);
  border-radius: var(--border-radius-content);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#login-header {
  color: var(--color-main-background);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--h1-font-size);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.form-group label {
  color: var(--color-main-background);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--p-font-size);
}

.form-group input {
  padding: 8px 10px;
  width: 100%;
  max-width: 300px;
  font-family: var(--main-font-family);
  font-size: var(--p-font-size-smaller);
  background-color: var(--color-main-support);
  color: var(--color-sub-support);
  border: 1px solid var(--color-sub-support);
  border-radius: var(--border-sub-radius-content);
  transition: all 0.2s;
}

#new-user {
  color: var(--color-main-background);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--p-font-size);
}

#new-user-signup {
  text-decoration: none;
  color: var(--color-main-background);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--p-font-size);
}


/* MOVIES OUT NOW & THEATER ITEM */
.movie-bio-background {
  background-color: var(--color-main-background);
  margin: var(--margin-for-body);
  padding: var(--padding-insider);
  border-radius: var(--border-radius-content);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.movie-bio-background h1 {
  color: var(--color-main-support);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--h1-font-size);
}

.movie-bio-background h2 {
  color: var(--color-main-support);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--h2-font-size);
}

/* MOVIE LIBRARY ITEM, MOVIES OUT NOW, THEATER ITEM */
.movie-bio-background img {
  width: 1000px;
  height: auto;
}

.movie-bio-text {
  margin-top: 25px;
}

.movie-bio-text p {
  color: var(--color-main-support);
  font-family: var(--main-alternative-font-family);
  font-weight: var(--main-alternative-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--p-font-size-bigger);
}


/* MUSIC LIBRARY ITEM TEMPLATE */
.playlist-bio {
  margin: var(--margin-for-body);
}

.playlist-heading {
  background-color: var(--color-main-background);
  padding: var(--padding-insider);
  border-radius: var(--border-radius-content);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.playlist-heading h1 {
  color: var(--color-main-support);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--h1-font-size);
}

.playlist-heading h2 {
  color: var(--color-main-support);
  font-family: var(--main-font-family);
  font-weight: var(--main-font-weight);
  font-style: var(--main-font-type);
  font-size: var(--h2-font-size);
}
